flow.json
[{"id":"3a261643.b5ed2a","type":"tab","label":"フロー 1"},{"id":"a65cf67f.e11d98","type":"mqtt-broker","z":"","broker":"ec2-54-238-209-176.ap-northeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"64c68bac.676a34","type":"mqtt in","z":"3a261643.b5ed2a","name":"","topic":"database","qos":"1","broker":"a65cf67f.e11d98","x":150,"y":400,"wires":[["d6578488.2651e8"]]},{"id":"d6578488.2651e8","type":"debug","z":"3a261643.b5ed2a","name":"","active":false,"console":"false","complete":"true","x":490,"y":400,"wires":[]},{"id":"19d71272.4e0fce","type":"tcp out","z":"3a261643.b5ed2a","host":"ec2-54-238-209-176.ap-northeast-1.compute.amazonaws.com","port":"8889","beserver":"client","base64":false,"end":true,"name":"","x":680,"y":480,"wires":[]},{"id":"fb32ce87.77a4d","type":"inject","z":"3a261643.b5ed2a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":170,"y":480,"wires":[["19d71272.4e0fce"]]},{"id":"bce250de.a6717","type":"inject","z":"3a261643.b5ed2a","name":"","topic":"","payload":"http request","payloadType":"str","repeat":"1","crontab":"","once":false,"x":180,"y":580,"wires":[["6487727e.a448ac"]]},{"id":"6487727e.a448ac","type":"http request","z":"3a261643.b5ed2a","name":"","method":"POST","ret":"txt","url":"http://ec2-54-238-209-176.ap-northeast-1.compute.amazonaws.com:1880/test/","tls":"","x":510,"y":580,"wires":[["5baf0612.3ecd88"]]},{"id":"5baf0612.3ecd88","type":"debug","z":"3a261643.b5ed2a","name":"","active":true,"console":"false","complete":"true","x":690,"y":580,"wires":[]}]
